@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}
body {
  margin: 0;
}

.nav-button:hover {
  background-color: white;
  overflow: hidden;
  font-size: 20px;
  transition-duration: 0.5s;
}